{% extends 'films/base.html' %}

{% block title %}Список фильмов{% endblock %}

{% block content %}
<h1 class="text-center">Список фильмов</h1>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Отзыв</th>
        </tr>
    </thead>
    <tbody>
        {% for film in films %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ film.title }}</td>
            <td>{{ film.description }}</td>
            <td>{{ film.review }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">Нет фильмов</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'add_film' %}" class="btn btn-primary mt-4">Добавить новый фильм</a>
{% endblock %}
